body {
    font-family: calibri;
}

#home {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: url(../static/marble_bg.png);
}

.footer-items {
    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#home h1 {
    font-weight: 700;
}

#home p {
    font-size: larger;
}

#home a {
    text-decoration: none;
    color: #fff;
}

#home h1 span {
    color: #ee522e;
}

.icon-large {
    font-size: 40px;
}


@media (max-width: 767px) { /* Adjust the max-width value based on your needs */
    #home p {
        font-size: large;
    }
    .footer-items {
        width: 100%;
    }
    .icon-large {
        font-size: 25px; /* Adjust the size as needed */
    }
}